#indexTop {
    background-image: url(../images/background01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;

    .backgroundOpacity {
        background: rgba(255, 255, 255, 0.4);
        z-index: -100;
    }
}

#index01 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    position: relative;

    .topTitle {
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;

        color: orange;
        position: relative;

        .topMainTitle {
            font-size: 3rem;

            @media (width <=500px) {
                font-size: 2rem;
            }
        }

        .topSubTitle {
            position: absolute;
            top: -150%;
            left: 0;
        }
    }

    .topBackBox {
        .topImgs {
            .topImg01 {
                position: absolute;
                top: 15%;
                left: 15%;
                z-index: 20;

                max-width: 300px;

                img {
                    width: 100%;
                }
            }

            .topImg02 {
                position: absolute;
                top: 55%;
                left: 15%;
                z-index: 20;

                max-width: 100px;

                img {
                    width: 100%;
                }

                @media (width <=768px) {
                    top: 65%;
                }
            }

            .topImg03 {
                position: absolute;
                top: 80%;
                left: 43%;
                z-index: 20;

                max-width: 200px;

                img {
                    width: 100%;
                }

                @media (width <=768px) {
                    top: 90%;
                }
            }

            .topImg04 {
                position: absolute;
                top: 55%;
                left: 70%;
                z-index: 20;

                max-width: 180px;

                img {
                    width: 100%;
                }

                @media (width <=768px) {
                    left: 70%;
                }
            }

            .topImg05 {
                position: absolute;
                top: 18%;
                left: 75%;
                z-index: 20;

                max-width: 100px;

                img {
                    width: 100%;
                }

                @media (width <=500px) {
                    top: 27%;
                }
            }
        }

        .topTopSquares {
            .squares01 {
                background-color: #ffcc00;

                position: absolute;
                top: 30%;
                left: 5%;
                z-index: 10;

                width: 120px;
                height: 100px;

                @media (width <=768px) {
                    width: 90px;
                    height: 70px;
                }
            }

            .squares02 {
                background-color: #ff9933;

                position: absolute;
                top: 25%;
                left: 10%;

                width: 120px;
                height: 100px;

                @media (width <=768px) {
                    width: 90px;
                    height: 70px;
                }
            }

            .squares03 {
                background-color: #ff9933;

                position: absolute;
                top: 80%;
                left: 10%;

                width: 60px;
                height: 60px;

                @media (width <=768px) {
                    width: 50px;
                    height: 50px;
                }
            }

            .squares04 {
                background-color: rgb(255, 199, 114);

                position: absolute;
                top: 85%;
                left: 22%;

                width: 170px;
                height: 70px;

                @media (width <=768px) {
                    width: 140px;
                    height: 50px;
                }
            }

            .squares05 {
                background-color: #ffcc00;

                position: absolute;
                top: 77%;
                left: 30%;

                width: 55px;
                height: 100px;

                @media (width <=768px) {
                    width: 50px;
                    height: 70px;
                }
            }

            .squares06 {
                background-color: #ffcc00;

                position: absolute;
                top: 68%;
                left: 60%;

                width: 50px;
                height: 50px;
            }

            .squares07 {
                background-color: #ff9933;

                position: absolute;
                top: 70%;
                left: 70%;

                width: 80px;
                height: 110px;

                @media (width <=768px) {
                    width: 50px;
                    height: 80px;
                }
            }

            .squares08 {
                background-color: #ffcc00;

                position: absolute;
                top: 80%;
                left: 80%;

                width: 120px;
                height: 90px;

                @media (width <=768px) {
                    width: 90px;
                    height: 60px;
                }

                @media (width <=500px) {
                    top: 90%;
                    left: 70%;
                }
            }

            .squares09 {
                background-color: #ffcc00;

                position: absolute;
                top: 15%;
                left: 90%;

                width: 50px;
                height: 50px;

                @media (width <=768px) {
                    top: 10%;
                    left: 85%;
                }
            }

            .squares10 {
                background-color: #ff9933;

                position: absolute;
                top: 30%;
                left: 75%;

                width: 80px;
                height: 80px;

                @media (width <=768px) {
                    top: 37%;
                    left: 75%;
                }
            }

            .squares11 {
                background-color: #ffcc00;

                position: absolute;
                top: 15%;
                left: 55%;

                width: 120px;
                height: 120px;


                @media (width <=768px) {
                    width: 90px;
                    height: 90px;
                }
            }

            .squares12 {
                background-color: #ff9933;

                position: absolute;
                top: 25%;
                left: 45%;

                width: 70px;
                height: 70px;


                @media (width <=768px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

#index02 {
    max-width: 1240px;
    margin: 0 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 10;

    .topAboutSquares {
        z-index: -1;

        .squares01 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 10%;
            left: 5%;


            width: 100px;
            height: 100px;
        }

        .squares02 {
            background-color: #ff9933;
            opacity: 0.6;

            position: absolute;
            top: 30%;
            left: 0%;


            width: 70px;
            height: 50px;
        }

        .squares03 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 45%;
            left: 4%;


            width: 80px;
            height: 80px;
        }

        .squares04 {
            background-color: #ff9933;
            opacity: 0.6;

            position: absolute;
            top: 60%;
            left: 2%;


            width: 50px;
            height: 80px;
        }

        .squares05 {
            background-color: #ff9933;
            opacity: 0.6;

            position: absolute;
            top: 75%;
            left: 5%;


            width: 50px;
            height: 80px;
        }

        .squares06 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 90%;
            left: 3%;


            width: 50px;
            height: 50px;
        }

        .squares07 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 10%;
            right: 5%;


            width: 100px;
            height: 80px;
        }

        .squares08 {
            background-color: #ff9933;
            opacity: 0.6;

            position: absolute;
            top: 30%;
            right: 2%;


            width: 80px;
            height: 80px;
        }

        .squares09 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 45%;
            right: 3%;


            width: 50px;
            height: 70px;
        }

        .squares10 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 60%;
            right: 4%;


            width: 90px;
            height: 60px;
        }

        .squares11 {
            background-color: #ff9933;
            opacity: 0.6;

            position: absolute;
            top: 75%;
            right: 1%;


            width: 50px;
            height: 50px;
        }

        .squares12 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 90%;
            right: 5%;


            width: 60px;
            height: 70px;
        }
    }

    .topAboutBox01 {
        margin-top: 5rem;
        color: white;
        max-width: 1240px;

        .aboutFlexBox01,
        .aboutFlexBox02 {
            display: flex;
            align-items: center;
            margin: 0 auto 1rem;

            @media (width <=768px) {
                margin: 0 auto 3rem;
            }

            div {
                max-width: 200px;
                margin: 0 3rem;

                @media (width <=768px) {
                    margin: 0;
                }

                img {
                    width: 100%;
                }
            }
        }

        .aboutFlexBox01 {

            P {
                padding: 1rem;
                border-radius: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #ff9933;
            }
        }

        .aboutFlexBox02 {

            p {
                padding: 1rem;
                border-radius: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #ffcc00;
            }
        }
    }

    .topAboutBox02 {
        max-width: 1240px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .topAbouth2 {
            font-size: 2rem;
            margin: 1rem 0 3rem;
            padding: 3rem;
            line-height: 1.7;
            text-align: center;
            color: orange;
            background: rgba(255, 255, 255, 0.4);
            border: solid 2px #ffcc00;
            border-radius: 50%;

            @media (width <=768px) {
                font-size: 1.2rem;
                padding: 2rem;
                margin: 3rem 0 3rem;
            }
        }

        .topAboutLink {
            position: relative;

            max-width: 1240px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media (width <=768px) {
                font-size: 1.2rem;
            }

            .linkPeople {
                max-width: 200px;

                @media (width <=768px) {
                    max-width: 150px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .linkImgBox {
            position: relative;
            margin: 3rem 1rem 0;

            .linkImg {
                max-width: 500px;

                a {
                    box-shadow: 0px 0px 10px orange;
                    transition: 0.5s;

                    img {
                        width: 100%;
                    }
                }

                a:hover {
                    box-shadow: 0px 0px 0px orange;
                }
            }
        }

        .click {
            display: flex;

            position: absolute;
            top: -30%;
            left: 0%;
            transform: rotate(345deg);

            font-weight: bold;
            color: black;

            p:first-of-type {
                transform: rotate(125deg)
            }
        }
    }
}

#index03 {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    .topSNSSquares {

        .squares01 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 10%;
            left: 5%;

            width: 100px;
            height: 100px;
            z-index: -10;
        }

        .squares02 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 30%;
            left: 0%;

            width: 70px;
            height: 50px;
            z-index: -10;
        }

        .squares03 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 45%;
            left: 4%;

            width: 80px;
            height: 80px;
            z-index: -10;
        }

        .squares04 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 60%;
            left: 2%;

            width: 50px;
            height: 80px;
            z-index: -10;
        }

        .squares05 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 75%;
            left: 5%;

            width: 50px;
            height: 80px;
            z-index: -10;
        }

        .squares06 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 90%;
            left: 3%;

            width: 50px;
            height: 50px;
            z-index: -10;
        }

        .squares07 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 10%;
            right: 5%;

            width: 100px;
            height: 80px;
            z-index: -10;
        }

        .squares08 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 35%;
            right: 2%;

            width: 80px;
            height: 80px;
            z-index: -10;
        }

        .squares09 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 50%;
            right: 2%;

            width: 90px;
            height: 50px;
            z-index: -10;
        }

        .squares10 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 65%;
            right: 5%;

            width: 50px;
            height: 80px;
            z-index: -10;
        }

        .squares11 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 80%;
            right: 3%;

            width: 50px;
            height: 50px;
            z-index: -10;
        }

        .squares12 {
            background-color: #ffcc00;
            opacity: 0.6;

            position: absolute;
            top: 90%;
            right: 5%;

            width: 100px;
            height: 80px;
            z-index: -10;
        }
    }

    .SNSBox {
        text-align: center;
        font-size: 2rem;

        .SNSBoxTitle {
            margin: 5rem 0 0;
            color: orange;
        }

        .SNS {
            display: flex;
            justify-content: space-around;
            align-items: center;


            @media (width <=768px) {
                flex-direction: column;
            }
        }

        .SNSBox01 {
            width: 320px;
            height: 320px;
            border: 1px solid black;
            margin-top: 3rem;
            background-color: white;

            // @media (width <=768px) {
            //     width: 320px;
            //     height: 300px;
            // }
        }
    }
}

#index04 {

    margin: 5rem auto 0;
    width: 80%;

    @media (width <=768px) {
        width: 95%;
    }


    .infoTitle {
        background-color: #ffffff;
        border: solid orange 3px;
        border-radius: 5px;
        padding: 1rem;

        max-width: 1240px;
        margin: 5rem auto 3rem;
        text-align: center;
        font-size: 2rem;

        color: orange;
    }


    .infoBox {
        background-color: #ffffff;
        border: solid orange 3px;
        border-radius: 5px;

        display: flex;
        justify-content: space-around;

        max-width: 1240px;
        margin: 0 auto;
        padding: 3rem 0;

        @media (width <=768px) {
            justify-content: center;
            flex-direction: column;
        }

        .infoBoxTitle {
            text-align: center;
        }


        .infoImg {
            max-width: 300px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        .infoP {
            max-width: 300px;
            margin: 1rem 0;
            height: 13rem;
        }

        .infoBox01 {
            margin: 0 auto 5rem;
        }

        .infoBox02 {
            margin: 0 auto 5rem;

            img {
                width: 100%;
            }
        }
    }
}