@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 196, 0);
}
header .headerBox .headerImg {
  max-width: 300px;
}
header .headerBox .headerImg img {
  width: 100%;
}
@media (width <= 768px) {
  header .headerBox .headerNav {
    display: none;
  }
}
header .headerBox .headerNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerBox .headerNav ul li {
  margin-left: 1rem;
}
header .headerBox .headerNav ul li a:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
header .headerBox .headerNav ul li:last-of-type {
  margin-right: 1rem;
}

:root {
  --barColor:#ffffff;
  --menuColor:linear-gradient( 245deg, rgb(255, 224, 178) 11.2%, rgb(255, 255, 255) 100.2% );
}

.toggleButton {
  display: none;
  z-index: 1000;
}

#drawerMenu {
  display: none;
  z-index: 1;
}

#drawerMenu ul {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#drawerMenu li {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

#drawerMenu a {
  display: block;
  padding: 1rem; /* マウスが反応する範囲を少し広げている*/
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

/* アンカーリンクにマウスが乗ると、他のアンカーリンクが少し薄くなる指定 */
#drawerMenu ul:has(a:hover) a:not(:hover) {
  opacity: 0.3;
}

@media (width <= 768px) { /* メディアクエリの値はお好みで */
  .toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: block; /* display:none;を解除するために入れている */
    background: var(--drawerColor);
    border-radius: 5px;
    z-index: 110;
  }
  .toggleButton span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;
    background-color: var(--barColor);
    border-radius: 5px;
    transition: all 0.2s linear;
  }
  .toggleButton span:nth-of-type(1) {
    top: 10px;
    transform: rotate(0);
  }
  .toggleButton span:nth-of-type(2) {
    top: 18px;
    transform: scale(1);
  }
  .toggleButton span:nth-of-type(3) {
    bottom: 10px;
    transform: rotate(0);
  }
  .close span:nth-of-type(1) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .close span:nth-of-type(2) {
    transform: scale(0);
  }
  .close span:nth-of-type(3) {
    bottom: 18px;
    transform: rotate(45deg);
  }
  #drawerMenu {
    display: block;
    position: fixed;
    top: 0;
    right: -240px;
    transition: all 0.3s linear;
    z-index: 100;
  }
  #drawerMenu.open {
    right: 0;
  }
  #drawerMenu {
    border-left: #ffae00 3px solid;
    border-bottom: #ffae00 3px solid;
  }
  #drawerMenu ul {
    display: block;
    width: 200px;
    height: 100%;
    padding: 80px 20px 20px 20px;
    background-image: var(--menuColor);
    overflow: hidden;
    text-align: center;
    list-style-type: none;
  }
  #drawerMenu li {
    width: 100%;
  }
}
#indexTop {
  background-image: url(../images/background01.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
#indexTop .backgroundOpacity {
  background: rgba(255, 255, 255, 0.4);
  z-index: -100;
}

#index01 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
#index01 .topTitle {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  position: relative;
}
#index01 .topTitle .topMainTitle {
  max-width: 400px;
}
#index01 .topTitle .topMainTitle img {
  width: 100%;
}
@media (width <= 500px) {
  #index01 .topTitle .topMainTitle {
    font-size: 2rem;
  }
}
#index01 .topTitle .topSubTitle {
  position: absolute;
  top: -150%;
  left: 0;
}
#index01 .topBackBox .topImgs .topImg01 {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 20;
  max-width: 300px;
}
#index01 .topBackBox .topImgs .topImg01 img {
  width: 100%;
}
#index01 .topBackBox .topImgs .topImg02 {
  position: absolute;
  top: 55%;
  left: 15%;
  z-index: 20;
  max-width: 100px;
}
#index01 .topBackBox .topImgs .topImg02 img {
  width: 100%;
}
@media (width <= 768px) {
  #index01 .topBackBox .topImgs .topImg02 {
    top: 65%;
  }
}
#index01 .topBackBox .topImgs .topImg03 {
  position: absolute;
  top: 80%;
  left: 43%;
  z-index: 20;
  max-width: 200px;
}
#index01 .topBackBox .topImgs .topImg03 img {
  width: 100%;
}
@media (width <= 768px) {
  #index01 .topBackBox .topImgs .topImg03 {
    top: 90%;
  }
}
#index01 .topBackBox .topImgs .topImg04 {
  position: absolute;
  top: 55%;
  left: 70%;
  z-index: 20;
  max-width: 180px;
}
#index01 .topBackBox .topImgs .topImg04 img {
  width: 100%;
}
@media (width <= 768px) {
  #index01 .topBackBox .topImgs .topImg04 {
    left: 70%;
  }
}
#index01 .topBackBox .topImgs .topImg05 {
  position: absolute;
  top: 18%;
  left: 75%;
  z-index: 20;
  max-width: 100px;
}
#index01 .topBackBox .topImgs .topImg05 img {
  width: 100%;
}
@media (width <= 500px) {
  #index01 .topBackBox .topImgs .topImg05 {
    top: 27%;
  }
}
#index01 .topBackBox .topTopSquares .squares01 {
  background-color: #ffcc00;
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 10;
  width: 120px;
  height: 100px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares01 {
    width: 90px;
    height: 70px;
  }
}
#index01 .topBackBox .topTopSquares .squares02 {
  background-color: #ff9933;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 120px;
  height: 100px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares02 {
    width: 90px;
    height: 70px;
  }
}
#index01 .topBackBox .topTopSquares .squares03 {
  background-color: #ff9933;
  position: absolute;
  top: 80%;
  left: 10%;
  width: 60px;
  height: 60px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares03 {
    width: 50px;
    height: 50px;
  }
}
#index01 .topBackBox .topTopSquares .squares04 {
  background-color: rgb(255, 199, 114);
  position: absolute;
  top: 85%;
  left: 22%;
  width: 170px;
  height: 70px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares04 {
    width: 140px;
    height: 50px;
  }
}
#index01 .topBackBox .topTopSquares .squares05 {
  background-color: #ffcc00;
  position: absolute;
  top: 77%;
  left: 30%;
  width: 55px;
  height: 100px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares05 {
    width: 50px;
    height: 70px;
  }
}
#index01 .topBackBox .topTopSquares .squares06 {
  background-color: #ffcc00;
  position: absolute;
  top: 68%;
  left: 60%;
  width: 50px;
  height: 50px;
}
#index01 .topBackBox .topTopSquares .squares07 {
  background-color: #ff9933;
  position: absolute;
  top: 70%;
  left: 70%;
  width: 80px;
  height: 110px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares07 {
    width: 50px;
    height: 80px;
  }
}
#index01 .topBackBox .topTopSquares .squares08 {
  background-color: #ffcc00;
  position: absolute;
  top: 80%;
  left: 80%;
  width: 120px;
  height: 90px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares08 {
    width: 90px;
    height: 60px;
  }
}
@media (width <= 500px) {
  #index01 .topBackBox .topTopSquares .squares08 {
    top: 90%;
    left: 70%;
  }
}
#index01 .topBackBox .topTopSquares .squares09 {
  background-color: #ffcc00;
  position: absolute;
  top: 15%;
  left: 90%;
  width: 50px;
  height: 50px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares09 {
    top: 10%;
    left: 85%;
  }
}
#index01 .topBackBox .topTopSquares .squares10 {
  background-color: #ff9933;
  position: absolute;
  top: 30%;
  left: 75%;
  width: 80px;
  height: 80px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares10 {
    top: 30%;
    left: 75%;
  }
}
#index01 .topBackBox .topTopSquares .squares11 {
  background-color: #ffcc00;
  position: absolute;
  top: 15%;
  left: 55%;
  width: 120px;
  height: 120px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares11 {
    width: 90px;
    height: 90px;
  }
}
#index01 .topBackBox .topTopSquares .squares12 {
  background-color: #ff9933;
  position: absolute;
  top: 25%;
  left: 45%;
  width: 70px;
  height: 70px;
}
@media (width <= 768px) {
  #index01 .topBackBox .topTopSquares .squares12 {
    width: 50px;
    height: 50px;
  }
}

#index02 {
  max-width: 1240px;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
#index02 .topAboutSquares {
  z-index: -1;
}
#index02 .topAboutSquares .squares01 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100px;
  height: 100px;
}
#index02 .topAboutSquares .squares02 {
  background-color: #ff9933;
  opacity: 0.6;
  position: absolute;
  top: 30%;
  left: 0%;
  width: 70px;
  height: 50px;
}
#index02 .topAboutSquares .squares03 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 45%;
  left: 4%;
  width: 80px;
  height: 80px;
}
#index02 .topAboutSquares .squares04 {
  background-color: #ff9933;
  opacity: 0.6;
  position: absolute;
  top: 60%;
  left: 2%;
  width: 50px;
  height: 80px;
}
#index02 .topAboutSquares .squares05 {
  background-color: #ff9933;
  opacity: 0.6;
  position: absolute;
  top: 75%;
  left: 5%;
  width: 50px;
  height: 80px;
}
#index02 .topAboutSquares .squares06 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 90%;
  left: 3%;
  width: 50px;
  height: 50px;
}
#index02 .topAboutSquares .squares07 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 10%;
  right: 5%;
  width: 100px;
  height: 80px;
}
#index02 .topAboutSquares .squares08 {
  background-color: #ff9933;
  opacity: 0.6;
  position: absolute;
  top: 30%;
  right: 2%;
  width: 80px;
  height: 80px;
}
#index02 .topAboutSquares .squares09 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 45%;
  right: 3%;
  width: 50px;
  height: 70px;
}
#index02 .topAboutSquares .squares10 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 60%;
  right: 4%;
  width: 90px;
  height: 60px;
}
#index02 .topAboutSquares .squares11 {
  background-color: #ff9933;
  opacity: 0.6;
  position: absolute;
  top: 75%;
  right: 1%;
  width: 50px;
  height: 50px;
}
#index02 .topAboutSquares .squares12 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 90%;
  right: 5%;
  width: 60px;
  height: 70px;
}
#index02 .topAboutBox01 {
  margin-top: 5rem;
  max-width: 1240px;
}
#index02 .topAboutBox01 .aboutFlexBox01,
#index02 .topAboutBox01 .aboutFlexBox02 {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
}
@media (width <= 768px) {
  #index02 .topAboutBox01 .aboutFlexBox01,
  #index02 .topAboutBox01 .aboutFlexBox02 {
    margin: 0 auto 3rem;
  }
}
#index02 .topAboutBox01 .aboutFlexBox01 div,
#index02 .topAboutBox01 .aboutFlexBox02 div {
  max-width: 200px;
  margin: 0 3rem;
}
@media (width <= 768px) {
  #index02 .topAboutBox01 .aboutFlexBox01 div,
  #index02 .topAboutBox01 .aboutFlexBox02 div {
    margin: 0;
  }
}
#index02 .topAboutBox01 .aboutFlexBox01 div img,
#index02 .topAboutBox01 .aboutFlexBox02 div img {
  width: 100%;
}
#index02 .topAboutBox01 .aboutFlexBox01 P {
  padding: 1rem;
  border-radius: 20px;
  border: orange solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#index02 .topAboutBox01 .aboutFlexBox02 p {
  padding: 1rem;
  border-radius: 20px;
  border: yellow solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#index02 .topAboutBox02 {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#index02 .topAboutBox02 .topAbouth2 {
  font-size: 2rem;
  margin: 1rem 0 0rem;
  padding: 3rem;
  line-height: 1.7;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
@media (width <= 768px) {
  #index02 .topAboutBox02 .topAbouth2 {
    font-size: 1.3rem;
    padding: 2rem;
    margin: 3rem 0 3rem;
  }
}
#index02 .topAboutBox02 .topAboutLink {
  position: relative;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (width <= 768px) {
  #index02 .topAboutBox02 .topAboutLink {
    font-size: 1.2rem;
  }
}
#index02 .topAboutBox02 .topAboutLink .linkPeople {
  max-width: 200px;
}
@media (width <= 768px) {
  #index02 .topAboutBox02 .topAboutLink .linkPeople {
    max-width: 150px;
  }
}
#index02 .topAboutBox02 .topAboutLink .linkPeople img {
  width: 100%;
}
#index02 .topAboutBox02 .linkImgBox {
  position: relative;
  margin: 0rem 1rem 3rem;
}
#index02 .topAboutBox02 .linkImgBox h3 {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  text-align: center;
  color: orange;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
}
#index02 .topAboutBox02 .linkImgBox .linkImg {
  max-width: 500px;
}
#index02 .topAboutBox02 .linkImgBox .linkImg img {
  width: 100%;
}
#index02 .click {
  position: absolute;
  top: -20%;
  left: 0%;
  font-weight: bold;
}
#index02 .click p:first-of-type {
  transform: rotate(125deg);
}
#index02 .click .rotate {
  display: flex;
  transform: rotate(345deg);
}

#index03 {
  max-width: 1240px;
  margin: 5rem auto;
  position: relative;
  z-index: 10;
}
#index03 .topSNSSquares .squares01 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100px;
  height: 100px;
  z-index: -10;
}
#index03 .topSNSSquares .squares02 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 30%;
  left: 0%;
  width: 70px;
  height: 50px;
  z-index: -10;
}
#index03 .topSNSSquares .squares03 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 45%;
  left: 4%;
  width: 80px;
  height: 80px;
  z-index: -10;
}
#index03 .topSNSSquares .squares04 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 60%;
  left: 2%;
  width: 50px;
  height: 80px;
  z-index: -10;
}
#index03 .topSNSSquares .squares05 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 75%;
  left: 5%;
  width: 50px;
  height: 80px;
  z-index: -10;
}
#index03 .topSNSSquares .squares06 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 90%;
  left: 3%;
  width: 50px;
  height: 50px;
  z-index: -10;
}
#index03 .topSNSSquares .squares07 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 10%;
  right: 5%;
  width: 100px;
  height: 80px;
  z-index: -10;
}
#index03 .topSNSSquares .squares08 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 35%;
  right: 2%;
  width: 80px;
  height: 80px;
  z-index: -10;
}
#index03 .topSNSSquares .squares09 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  right: 2%;
  width: 90px;
  height: 50px;
  z-index: -10;
}
#index03 .topSNSSquares .squares10 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 65%;
  right: 5%;
  width: 50px;
  height: 80px;
  z-index: -10;
}
#index03 .topSNSSquares .squares11 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 50px;
  height: 50px;
  z-index: -10;
}
#index03 .topSNSSquares .squares12 {
  background-color: #ffcc00;
  opacity: 0.6;
  position: absolute;
  top: 90%;
  right: 5%;
  width: 100px;
  height: 80px;
  z-index: -10;
}
#index03 .SNSBox {
  text-align: center;
  font-size: 2rem;
}
#index03 .SNSBox .SNSBoxTitle {
  margin: 5rem 0 3rem;
  color: orange;
}
#index03 .SNSBox .SNS {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (width <= 768px) {
  #index03 .SNSBox .SNS {
    flex-direction: column;
  }
}
#index03 .SNSBox .SNSBox01 {
  width: 300px;
  margin: 0 0.5rem 0;
}
#index03 .SNSBox .SNSBox02 {
  margin: 3rem 0 0;
  border: solid 5px black;
}

#index04 {
  margin: 5rem auto 0;
  width: 80%;
}
@media (width <= 768px) {
  #index04 {
    width: 95%;
  }
}
#index04 .infoTitle {
  border-radius: 5px;
  padding: 1rem;
  max-width: 1240px;
  margin: 5rem auto 3rem;
  text-align: center;
  font-size: 2rem;
  color: orange;
}
#index04 .infoBox {
  background-color: #ffffff;
  border: solid orange 1px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  max-width: 1240px;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (width <= 768px) {
  #index04 .infoBox {
    justify-content: center;
    flex-direction: column;
  }
}
#index04 .infoBox .infoBoxTitle {
  text-align: center;
}
#index04 .infoBox .infoImg {
  max-width: 300px;
  margin: 0 auto;
}
#index04 .infoBox .infoImg img {
  width: 100%;
}
#index04 .infoBox .infoP {
  max-width: 300px;
  margin: 1rem 0;
  height: 13rem;
}
#index04 .infoBox .infoBox01 {
  margin: 0 auto 5rem;
}
#index04 .infoBox .infoBox02 {
  margin: 0 auto 5rem;
}
#index04 .infoBox .infoBox02 img {
  width: 100%;
}

#chargeTop {
  background-image: url(../images/background01.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
#chargeTop .backgroundOpacity {
  background: rgba(255, 255, 255, 0.7);
}

.chargeTop {
  padding: 5rem 0 1rem;
  margin: 0 0.5rem;
}
.chargeTop .chargeTopTitle {
  position: relative;
}
.chargeTop .chargeTopTitle .chargeToph2 {
  background-color: white;
  border-radius: 50%;
  width: 15rem;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
.chargeTop .chargeTopTitle .chargeTopImg {
  position: absolute;
  top: 0;
  right: 18%;
  transform: rotate(15deg);
}
.chargeTop .chargeTopTextBox01 {
  margin-top: 5rem;
  max-width: 1240px;
}
.chargeTop .chargeTopTextBox01 .chargeFlexBox01,
.chargeTop .chargeTopTextBox01 .chargeFlexBox02 {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
}
@media (width <= 768px) {
  .chargeTop .chargeTopTextBox01 .chargeFlexBox01,
  .chargeTop .chargeTopTextBox01 .chargeFlexBox02 {
    margin: 0 auto 3rem;
  }
}
.chargeTop .chargeTopTextBox01 .chargeFlexBox01 div,
.chargeTop .chargeTopTextBox01 .chargeFlexBox02 div {
  max-width: 200px;
  margin: 0 3rem;
}
@media (width <= 768px) {
  .chargeTop .chargeTopTextBox01 .chargeFlexBox01 div,
  .chargeTop .chargeTopTextBox01 .chargeFlexBox02 div {
    margin: 0;
  }
}
.chargeTop .chargeTopTextBox01 .chargeFlexBox01 div img,
.chargeTop .chargeTopTextBox01 .chargeFlexBox02 div img {
  width: 100%;
}
.chargeTop .chargeTopTextBox01 .chargeFlexBox01 P {
  padding: 1rem;
  border-radius: 20px;
  border: orange solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.chargeTop .chargeTopTextBox01 .chargeFlexBox02 p {
  padding: 1rem;
  border-radius: 20px;
  border: yellow solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.chargeTop .chargeTopImgBox {
  text-align: center;
}

#chargeList {
  margin: 0 0.5rem;
}
#chargeList .chargeListTitleBox .chargeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background: white;
  border-radius: 50%;
  margin: 5rem auto 3rem;
  width: 8rem;
  position: relative;
}
#chargeList .chargeListTitleBox .chargeTitle .click {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(82, 49, 0);
  transform: rotate(330deg);
  position: absolute;
  top: -40%;
  left: -20%;
}
#chargeList .chargeListTitleBox .chargeTitle .click p:first-of-type {
  transform: rotate(125deg);
}
#chargeList .chargeListTitleBox .chargeTitle .yajirusi {
  text-align: center;
}
#chargeList .chargeListTitleBox .chargeListTitle01 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
#chargeList .chargeListTitleBox .chargeListTitle01 .yellow {
  background-color: #ffcc00;
  width: 10rem;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0.5rem;
  color: white;
  margin: 0.5rem;
}
#chargeList .chargeListTitleBox .chargeListTitle01 .orange {
  background-color: #ff9933;
  width: 10rem;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0.5rem;
  color: white;
  margin: 0.5rem;
}
#chargeList .chargeListTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 5rem;
}
#chargeList .chargeListTable .hiddenContent {
  display: none;
}
#chargeList .chargeListTable .hiddenContent .hiddenTitle {
  position: relative;
}
#chargeList .chargeListTable .hiddenContent .hiddenTitle h3 {
  color: rgb(255, 255, 255);
  background-color: #BCB5B5;
  padding: 1.5rem;
  border-radius: 5px;
  outline: rgb(255, 255, 255) solid 3px;
  outline-offset: -6px;
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
}
#chargeList .chargeListTable .hiddenContent .hiddenTitle p {
  max-width: 100px;
  position: absolute;
  top: -30%;
  left: 0;
}
#chargeList .chargeListTable .hiddenContent .hiddenTitle p img {
  width: 100%;
}
#chargeList .chargeListTable .hiddenContent .tableDispley {
  display: flex;
  justify-content: center;
  align-items: center;
}
#chargeList .chargeListTable .hiddenContent .tableDispley table {
  text-align: center;
  border: solid 4px #ffffff;
  background-color: white;
}
#chargeList .chargeListTable .hiddenContent .tableDispley table tr th {
  border: solid 3px #ffffff;
  padding: 0.5rem;
  text-align: center;
  background-color: #BCB5B5;
  color: #fff;
}
#chargeList .chargeListTable .hiddenContent .tableDispley table tr td {
  border: solid 1px #754c24;
  padding: 0.5rem;
}
#chargeList .chargeListTable .hiddenContent .tableDispley table tr .tdTitle {
  font-weight: bold;
  border: solid 3px #ffffff;
  color: #fff;
  background-color: #BCB5B5;
  width: 9rem;
}
#chargeList .chargeListTable .hiddenContent .tableDispley table tr .color01 {
  background-color: #BCB5B5;
}
#chargeList .chargeListTable .hiddenContent .tableDispley table tr .color02 {
  background-color: #BCB5B5;
}
#chargeList .chargeListTable .hiddenContent.active {
  display: block;
}
#chargeList .chargeListTable .hiddenText {
  max-width: 380px;
  margin: 3rem 0rem;
  text-align: center;
}
#chargeList .chargeListTable .hiddenText .hiddenTextButton {
  background-color: #ff9933;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  outline: white solid 3px;
  outline-offset: -5px;
  text-align: center;
  width: 11rem;
  margin: 3rem auto;
}
#chargeList .chargeBottom {
  padding: 2rem 0.5rem 2rem;
  background-color: white;
}
#chargeList .chargeBottom p {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
#chargeList .chargeBottom .chargeBottomImg {
  display: flex;
  justify-content: space-around;
}
#chargeList .chargeBottom .chargeBottomImg img {
  max-width: 100px;
}
#chargeList .chargeBottom .contactBotton {
  border: orange 3px solid;
  border-radius: 10px;
  width: 15rem;
  padding: 0.5rem;
  margin: 3rem auto 0;
}

#LPmangaTop {
  background-image: url(../images/background01.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
#LPmangaTop .backgroundOpacity {
  background: rgba(255, 255, 255, 0.7);
}

.LPmanga01 .hukidashiBox {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LPmanga01 .hukidashiBox .hukidashi01 {
  position: relative;
  width: 220px;
}
.LPmanga01 .hukidashiBox .hukidashi01 p {
  position: absolute;
  top: 60%;
  left: 59%;
  transform: translate(-50%, -50%);
  width: 7rem;
}
.LPmanga01 .hukidashiBox .hukidashi01 img {
  width: 100%;
}
.LPmanga01 .hukidashiBox .hukidashi02 {
  position: relative;
  width: 260px;
}
.LPmanga01 .hukidashiBox .hukidashi02 p {
  position: absolute;
  top: 48%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 8rem;
}
.LPmanga01 .hukidashiBox .hukidashi02 img {
  width: 100%;
}
.LPmanga01 .LPmanga01TitleBox {
  overflow-x: hidden;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaP {
  background-color: white;
  border-radius: 50%;
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.5rem;
  color: orange;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgs {
  width: 50%;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgs .titleImgs01 {
  position: absolute;
  top: -10%;
  left: 10%;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgs .titleImgs02 {
  position: absolute;
  top: 10%;
  left: 45%;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgs .titleImgs03 {
  position: absolute;
  top: 30%;
  left: 0%;
  transform: rotate(15deg);
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgs .titleImgs04 {
  position: absolute;
  top: 45%;
  left: 30%;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgs .titleImgs05 {
  position: absolute;
  top: 70%;
  left: 5%;
}
.LPmanga01 .LPmanga01TitleBox .LPmangaTitleImgBox .titleImgPeople {
  width: 50%;
}

.LPmanga02 {
  padding: 0 0 5rem;
}
.LPmanga02 .mangaBox {
  margin: 0 1rem;
}
.LPmanga02 .mangaBox .manga {
  max-width: 500px;
  margin: 5rem auto 0;
}
.LPmanga02 .mangaBox .manga .click {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(82, 49, 0);
}
.LPmanga02 .mangaBox .manga .click p:first-of-type {
  transform: rotate(125deg);
}
.LPmanga02 .mangaBox .manga h3 {
  color: orange;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}
.LPmanga02 .mangaBox .manga p img:hover {
  box-shadow: 0 0 0 0 white;
  transition: 0.3s;
}
.LPmanga02 .mangaBox .manga p img {
  box-shadow: 0 0 5px rgb(164, 164, 164);
  width: 100%;
  border: rgb(255, 229, 181) solid 3px;
  transition: 0.3s;
}

.LPmanga03 {
  margin: 5rem 0 0;
  padding-bottom: 3rem;
}
.LPmanga03 .LPmanga03BigText {
  position: relative;
  width: 20.5rem;
  margin: 0 auto;
}
.LPmanga03 .LPmanga03BigText .BigText01 {
  padding: 2rem 1rem 2rem 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: orange;
  background-color: white;
}
.LPmanga03 .LPmanga03BigText .BigTextImg01 {
  position: absolute;
  top: -35%;
  z-index: 10;
}
.LPmanga03 .LPmanga03BigText .BigTextImg02 {
  position: absolute;
  top: -35%;
  right: 0;
}
.LPmanga03 .LPmanga03Box {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
.LPmanga03 .LPmanga03Box .LPmanga03Box02 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.LPmanga03 .LPmanga03Box .LPmanga03Box02 .LPmangaP01 {
  margin-top: 3rem;
  color: orange;
  width: 10rem;
}
.LPmanga03 .LPmanga03Box .LPmanga03Box02 .LPmangaImgBox {
  position: relative;
}
.LPmanga03 .LPmanga03Box .LPmanga03Box02 .LPmangaImgBox .ImgBox01 {
  position: absolute;
  top: -40%;
  right: 0;
}
.LPmanga03 .LPmanga03Box .LPmanga03Box02 .LPmangaP02 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(96, 96, 96);
}

#contactTop {
  background-image: url(../images/background01.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  margin: 0 0.5rem;
}
#contactTop .backgroundOpacity {
  background: rgba(255, 255, 255, 0.4);
  z-index: -100;
}

.FAQsection {
  padding: 5rem 0 5rem;
  text-align: center;
}
.FAQsection .FAQTitle .FAQH2 {
  font-size: 1.5rem;
  color: orange;
  font-weight: bold;
}
.FAQsection .FAQBox {
  margin: 5rem auto;
}
.FAQsection .FAQBox .FAQBox01 {
  margin: 3rem auto;
  width: 95%;
}
.FAQsection .FAQBox .FAQBox01 .QBox {
  background: orange;
  cursor: pointer;
  padding: 1rem;
  color: white;
  outline: solid 3px white;
  outline-offset: -7px;
  font-weight: bold;
}
.FAQsection .FAQBox .FAQBox01 .ABox {
  background: rgb(255, 255, 255);
  display: none;
  padding: 1rem;
  width: 94%;
  text-align: left;
  margin: 0 auto;
  transform: translateY(-4px);
  outline: solid 5px orange;
  outline-offset: -5px;
}
.FAQsection .FAQBox .FAQBox01 .ABox span {
  color: orange;
  font-size: 2rem;
}
.FAQsection .FAQBox .FAQBox01 .FAQactive {
  display: block;
}

.chargeBottom {
  padding: 2rem 0.5rem 2rem;
  background-color: white;
}
.chargeBottom p {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.chargeBottom .chargeBottomImg {
  display: flex;
  justify-content: space-around;
}
.chargeBottom .chargeBottomImg img {
  max-width: 100px;
}
.chargeBottom .contactBotton {
  border: orange 3px solid;
  border-radius: 10px;
  width: 15rem;
  padding: 0.5rem;
  margin: 3rem auto 0;
}

footer {
  background-color: white;
}
footer p {
  text-align: center;
}

@font-face {
  font-family: "myfont";
  src: url("../font/07Yasashisa/yasashisa.ttf.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7rem;
  color: rgb(82, 49, 0);
  font-family: "myfont", sans-serif;
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}
.fade-in_FAQ {
  animation: fade-in_FAQ 0.3s ease-in-out;
}

@keyframes fade-in_FAQ {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-4px);
  }
}
.fuwa01 {
  animation: fuwafuwa01 3s ease-in-out infinite alternate;
}

@keyframes fuwafuwa01 {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(10px);
    opacity: 0.8;
  }
}
.fuwa02 {
  animation: fuwafuwa02 5s ease-in-out infinite alternate;
}

@keyframes fuwafuwa02 {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 0.8;
  }
}
.fuwa03 {
  animation: fuwafuwa03 3.5s ease-in-out infinite alternate;
}

@keyframes fuwafuwa03 {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(10px);
    opacity: 0.8;
  }
}
.fuwa04 {
  animation: fuwafuwa04 4s ease-in-out infinite alternate;
}

@keyframes fuwafuwa04 {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 0.8;
  }
}
.fuwa05 {
  animation: fuwafuwa05 1s ease-in-out infinite alternate;
}

@keyframes fuwafuwa05 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}/*# sourceMappingURL=style.css.map */